source-directory /etc/network/interfaces.d

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
iface eth0 inet dhcp

auto eth1
iface eth1 inet dhcp
    post-up ip route del default dev eth0 || true
    post-up dhclient $IFACE || true


{% for f in Networks %}
{% if f == ansible_hostname %}
auto {{Networks[f].Interfaz}}
iface {{Networks[f].Interfaz}} inet static
	address {{Networks[f].IP}}
	netmask {{Networks[f].subred}}
	dns-nameservers {{Networks[f].dns}}
	post-up ip r add {{Networks[f].Origen}} via {{web_server}} dev $IFACE || true
{% endif %}
{% endfor %}


{% for f in Networks %}
{% if f == ansible_hostname %}
up iptables -t nat -A POSTROUTING -o eth1 -s {{Networks[f].Origen}} -j MASQUERADE
down iptables -t nat -d POSTROUTING -o eth1 -s {{Networks[f].Origen}} -j MASQUERADE
up iptables -t nat -A PREROUTING -p tcp --dport 80 -i eth1 -j DNAT --to {{web_server}}
down iptables -t nat -D PREROUTING -p tcp --dport 80 -i eth1 -j DNAT --to {{web_server}}
{% endif %}
{% endfor %}
